<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- <config>
    <add key="maxHttpRequestsPerSource" value="64" />
  </config> -->
	<packageSources>
		<clear />
		<add key="<Create-Token-In-Nexus-For-Access-To-Registry>" value="https://<Nexus-Registry-Url>/repository/<Repository-Name>/index.json" protocolVersion="3" />
		<add key="<Create-Token-In-Gitlab>" value="https://<Git-Url-For-Custome-Packege>/api/v4/projects/<Project-ID>/packages/nuget/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="<Nexus-Token>">
			<package pattern="*" />
		</packageSource>
		<packageSource key="<Nuget-Token-In-Gitlab>">
			<package pattern="CS.*" />
			<package pattern="Haf.*" />
			<package pattern="Haf_*" />
		</packageSource>
	</packageSourceMapping>

  <packageSourceCredentials>
    <gitlab-nuget-project>
        <add key="Username" value="<Nuget-Token-For-Download-From-Nuget-Project>" />
        <add key="ClearTextPassword" value="<Password-Or-Value>" />
    </gitlab-nuget-project>
  </packageSourceCredentials>
</configuration>

